/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body.dark-mode {
  font-family: 'Noto Sans JP', sans-serif;
  background: #222629;
  color: #272822; }
  body.dark-mode a {
    color: #272822; }
  body.dark-mode h1 {
    color: #fff; }
  body.dark-mode button {
    background: #87C232; }
  body.dark-mode .links .list-item svg * {
    fill: #87C232; }
  body.dark-mode .menu .btn-burger-line {
    background: #87C232; }
    body.dark-mode .menu .btn-burger-line:before {
      background: #87C232; }
    body.dark-mode .menu .btn-burger-line:after {
      background: #87C232; }
  body.dark-mode .hero {
    background: #618930;
    transition: background 2s; }
    body.dark-mode .hero:before {
      content: "";
      width: 50%;
      height: calc(100vh - 160px);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      background: #F5F5F5;
      transition: width 2s; }
    body.dark-mode .hero:hover {
      background: #F5F5F5; }
      body.dark-mode .hero:hover:before {
        width: 100%; }
  body.dark-mode span {
    color: #87C232; }
  body.dark-mode .menu-open .hero-content {
    background: #618930; }
    body.dark-mode .menu-open .hero-content .hero-nav span {
      color: #fff; }
    body.dark-mode .menu-open .hero-content .hero-nav-item-link:hover {
      text-decoration-color: #fff; }
  body.dark-mode .menu-open .hero {
    background: #F5F5F5;
    margin: 0; }
  body.dark-mode .skills-list-item:before {
    background: #87C232; }
  body.dark-mode .projects .title {
    color: #618930; }
  body.dark-mode .projects-item a {
    color: #87C232; }
    body.dark-mode .projects-item a svg * {
      fill: #87C232; }
  body.dark-mode .experience-item a {
    color: #87C232; }
    body.dark-mode .experience-item a svg * {
      fill: #87C232; }
  body.dark-mode .contacts .email-me {
    color: #fff; }
    body.dark-mode .contacts .email-me svg * {
      fill: #fff; }
  body.dark-mode .contacts .tel {
    color: #fff; }
  body.dark-mode .parallax.pic01 {
    background-image: url("../img/laptop-dt.png"); }
  body.dark-mode .parallax.pic02 {
    background-image: url("../img/devices-dt.png"); }

body.light-mode {
  font-family: 'Noto Sans JP', sans-serif;
  background: #fff;
  color: #272822; }
  body.light-mode button {
    background: #75715E; }

.wrapper {
  padding: 80px;
  min-height: 100vh; }

.header {
  height: 80px;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0; }

h1 {
  font-size: 18px;
  position: fixed;
  top: 43px;
  left: 80px; }

.theme {
  position: fixed;
  top: 26px;
  right: 80px; }

.menu {
  width: 80px;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 0;
  transition: translateY(50%); }
  .menu .btn-burger {
    width: 56px;
    height: 31px;
    position: absolute;
    top: 50%;
    left: 64px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none; }
    .menu .btn-burger-line {
      width: 56px;
      height: 5px;
      background: #75715E;
      display: block;
      transition: .25s ease-in-out; }
      .menu .btn-burger-line:before, .menu .btn-burger-line:after {
        content: "";
        width: 56px;
        height: 5px;
        background: #75715E;
        display: block;
        position: absolute;
        left: -10px;
        top: 0;
        transition: .25s ease-in-out; }
      .menu .btn-burger-line:after {
        top: 26px; }

.menu-open .btn-burger {
  left: 6px; }
  .menu-open .btn-burger .btn-burger-line {
    transform: rotate(45deg);
    width: 32px; }
    .menu-open .btn-burger .btn-burger-line:before {
      transform: rotate(90deg);
      width: 32px;
      left: 0; }
    .menu-open .btn-burger .btn-burger-line:after {
      display: none; }

.hero-content {
  display: flex;
  justify-content: space-between; }
  .hero-content .hero-nav {
    display: none; }

.menu-open .hero-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 439px;
  margin-left: 80px; }
  .menu-open .hero-nav-item {
    margin-bottom: 32px; }
    .menu-open .hero-nav-item-link {
      font-size: 32px;
      color: #272822;
      font-weight: bold;
      text-decoration: none; }
      .menu-open .hero-nav-item-link:hover {
        text-decoration: underline;
        text-decoration-color: #F92672; }
      .menu-open .hero-nav-item-link span {
        font-size: 18px;
        display: block;
        margin-bottom: 16px;
        font-weight: normal; }
    .menu-open .hero-nav-item .tel {
      display: block;
      font-size: 18px;
      color: #000;
      margin: 48px 0 80px; }

.links {
  width: 80px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .links .list-item {
    margin-bottom: 16px; }

.hero {
  width: 100%;
  background: #E6D874;
  height: calc(100vh - 160px);
  margin: 0 0 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero:before {
    content: "";
    width: 50%;
    height: calc(100vh - 160px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background: #F5F5F5;
    transition: opacity 4s, transform 2s; }
  .hero-text {
    position: relative;
    z-index: 10; }
    .hero-text .welcome {
      font-size: 80px;
      font-weight: bold; }
    .hero-text .info {
      opacity: 0;
      display: none; }
      .hero-text .info span {
        font-size: 18px;
        font-style: italic; }
      .hero-text .info strong {
        display: block;
        font-size: 32px;
        font-weight: bold;
        color: #000;
        margin-bottom: 38px; }
      .hero-text .info p {
        font-size: 32px; }
  .hero:hover {
    justify-content: flex-start; }
    .hero:hover:before {
      opacity: 0;
      transform: translateY(100%); }
    .hero:hover .info {
      display: block;
      opacity: 1;
      max-width: 600px;
      margin-left: 159px; }
    .hero:hover .welcome {
      opacity: 0;
      display: none; }

.menu-open .hero {
  width: 50%;
  justify-content: center; }
  .menu-open .hero:before {
    width: 0; }
  .menu-open .hero .welcome {
    opacity: 0;
    display: none; }
  .menu-open .hero .info {
    display: block;
    opacity: 1;
    margin: -50px 80px;
    max-width: 480px; }

span {
  color: #F92672;
  font-style: italic; }

.parallax.pic01 {
  background-image: url("../img/laptop.png");
  height: 820px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.skills {
  min-height: calc(100vh - 160px);
  background: #F5F5F5;
  display: flex; }
  .skills-list {
    display: flex;
    flex-direction: column;
    flex: 0 0 740px;
    margin: 0 0 0 80px; }
    .skills-list-item {
      font-size: 32px;
      color: #000;
      text-decoration: none;
      padding-bottom: 32px;
      position: relative; }
      .skills-list-item:before {
        content: "";
        width: 14px;
        height: 14px;
        background: #F92672;
        margin: 18px 0;
        border-radius: 50%;
        transition: width 0.5s;
        position: absolute;
        top: 0;
        left: 454px; }
  .skills:hover {
    text-decoration: underline; }
  .skills:hover .skills-list-item.level-100:before {
    width: 100%;
    border-radius: 8px; }
  .skills:hover .skills-list-item.level-75:before {
    width: 75%;
    border-radius: 8px; }
  .skills:hover .skills-list-item.level-60:before {
    width: 60%;
    border-radius: 8px; }
  .skills:hover .skills-list-item.level-45:before {
    width: 45%;
    border-radius: 8px; }
  .skills:hover .skills-list-item.level-75:before {
    width: 75%;
    border-radius: 8px; }
  .skills:hover .skills-list-item.level-65:before {
    width: 65%;
    border-radius: 8px; }
  .skills:hover .skills-list-item.level-80:before {
    width: 80%;
    border-radius: 8px; }

.title {
  font-size: 80px;
  font-weight: bold;
  padding: 80px 80px 32px;
  background: #F5F5F5; }

.parallax.pic02 {
  background-image: url("../img/devices.png");
  height: 960px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.projects {
  width: 100%;
  min-height: calc(100vh - 80px);
  background: #353535; }
  .projects .title {
    color: #E6D874;
    background: #353535; }

.projects-item {
  margin: 0 0 80px 80px;
  max-width: 600px; }
  .projects-item strong {
    color: #fff;
    font-size: 32px;
    font-weight: bold; }
  .projects-item p {
    color: #fff;
    font-size: 32px;
    padding: 32px 0 16px; }
  .projects-item a {
    color: #F92672; }

.experience {
  width: 100%;
  min-height: calc(100vh - 80px);
  background: #F5F5F5;
  margin-bottom: 80px; }
  .experience-item {
    margin: 0 80px; }
    .experience-item strong {
      color: #000;
      font-size: 32px;
      font-weight: bold;
      display: block; }
    .experience-item p {
      color: #272822;
      font-size: 32px;
      padding-bottom: 46px; }
    .experience-item a {
      color: #F92672;
      font-style: italic; }

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contacts .email span {
    display: block; }
  .contacts .email-me {
    font-size: 32px;
    color: #272822;
    text-decoration: none;
    font-style: normal;
    font-weight: bold; }
  .contacts .tel {
    color: #000;
    font-style: normal; }
