@import 'var';
@import 'reset';

body {
	background: $bg-color;
	color: $main-text;
}
.wrapper {
	padding: $gap;
	min-height: 100vh;
}
.header {
	height: $gap;
	position: fixed;
	background: $bg-color;
	top: 0;
	left: 0;
} 
h1 {
	font-size: 18px;
	position: fixed;
	top: 43px;
	left: $gap;
}
.theme {
	font-size: 18px;
	position: fixed;
	top: 43px;
	right: $gap;
}
.menu {
	width: $gap;
	position: fixed;
	z-index: 5;
	top: 50%;
	left: 0;
	transition: translateY(50%);

	.btn-burger {
		width: 56px;
		height: 31px;
		position: absolute;
		top: 50%;
		left: 64px;
		background: none;
		border: 0;
		padding: 0;
		cursor: pointer;
		outline: none;

		&-line {
			width: 56px;
			height: 5px;
			background: $icon-color;
			display: block;
			transition: .25s ease-in-out;
		
			&:before,
			&:after {
				content: "";
				width: 56px;
				height: 5px;
				background: $icon-color;
				display: block;
				position: absolute;
				left: -10px;
				top: 0;
				transition: .25s ease-in-out;
			}
			&:after {
				top: 26px;
			}
		}
	}
}
.menu-open .btn-burger {
	left: 6px;

	.btn-burger-line {
		transform: rotate(45deg);
		width: 32px;	
	
		&:before {
		transform: rotate(90deg);
		width: 32px;
		left: 0;
		}
		&:after {
		display: none;
		}
	}
}
.hero-content {
	display: flex;
	justify-content: space-between;

	.hero-nav {
		display: none;
	}
}
.menu-open .hero-nav {
	display: flex;
	justify-content: start;
	flex-direction: column;
	flex: 0 0 439px;
	margin: 153px auto 153px 80px;
	
	&-item {
	margin-bottom: 32px;
	
		&-link {
		font-size: $text-size;
		color: $main-text;
		text-decoration: none;
	
			&:hover {
			text-decoration: underline;
			}
			
			span {
			font-size: 18px;
			display: block;
			margin-bottom: 16px;
			}
		}
		.tel {
		display: block;
		color: #000;
		margin: 48px 0 80px;
		}
	}
}
.menu-open .hero {
	width: 50%;
	
	&:before {
	width: 0;
	}

	.welcome {
	opacity: 0;
	display: none;
	}
		
	.info {
	display: block;
	opacity: 1;
	margin: -50px 80px;
	}
}
.links {
	width: $gap;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero {
	width: 100%;
	background: $primary-color;
	min-height: calc(100vh - 160px);
	margin: 0 0 $gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		width: 50%;
		background: #f5f5f5;
		height: calc(100vh - 160px);
	}

	&-text {
		position: relative;
		z-index: 10;

		.welcome {
			font-size: 80px;
			font-weight: bold;
		}
		.info {
			opacity: 0;
			display: none;
			width: 480px;
			min-height: 215px;
			position: absolute;
			top: -25px;
			left: -318px;
			z-index: 20;

			& span {
				font-size: 18px;
				font-style: italic;
			}
			& strong {
				display: block;
				font-size: $text-size;
				font-weight: bold;
				color: #000;
				margin-bottom: 38px;
			}
			& p {
				font-size: $text-size;	
			}
		}
	}
		&:hover {
			&:before {
				opacity: 0;
				transition: opacity 4s, transform 2s;
				transform: translateY(100%);
			}
			.info {
				display: block;
				opacity: 1;
				}
			.welcome {
				opacity: 0;
				display: none;
			}
		}
}
span {
	color: $brand-color;
	font-style: italic;
}
.parallax {
  background-image: url("../img/laptop.png");
  height: 820px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills {
  width: 100%;
  min-height: calc(100vh - 160px);
  background: $background-color;
  display: flex;

  	&-list {
  	display: flex;
  	flex-direction: column;
  	flex: 0 0 442px;
	margin: 0 0 0 $gap;
	
		&-item {
		font-size: $text-size;
		color: #000;
		text-decoration: none;
		padding-bottom: 32px;
	
			&:hover {
			text-decoration: underline;

			}						
		}
	}
	&-level {
	display: flex;
	flex-direction: column;
	width: calc(100% - 442px);
	margin: 0 $gap 0 0;

		.level {
		  display: flex;
		  width: 14px;
		  height: 14px;
		  background: $brand-color;
		  margin: 18px 0 30px;
		  border-radius: 50%;
		  transition: width 0.5s;
		
		&:hover {
		  width: 100%;
		  border-radius: 8px;
		}
		}
	}
}
.title {
	font-size: $gap;
	font-weight: bold;
	padding: $gap $gap 32px;
	background: $background-color;
}
.pic {
	width: 100%;
	height: 960px;
}
.projects {
	width: 100%;
  	min-height: calc(100vh - 80px);
  	background: #353535;

  	.title {
  	color: $primary-color;
  	background: #353535;
  	}
}
.projects-item {
	margin: 0 0 $gap $gap;
	max-width: 600px;

	strong {
	color: $bg-color;
	font-size: $text-size;
	font-weight: bold;
	}

	p {
	color: $bg-color;
	font-size: $text-size;
	padding: 32px 0 16px;
	}

	a {
	color: $brand-color;
	}
}
.experience {
	width: 100%;
  	min-height: calc(100vh - 80px);
	background: $background-color;
	margin-bottom: $gap;

	&-item {
	margin: 0 $gap;

		strong {
		color: #000;
		font-size: $text-size;
		font-weight: bold;
		display: block;
		}

		p {
		color: $main-text;
		font-size: $text-size;
		padding-bottom: 46px;
		}
		a {
		color: $brand-color;
		}
	}
}
.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;


	.email span {
	display: block;
	}

	.email-me {
	font-size: 32px;
    color: #272822;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
	}

	.tel {
		color: #000;
		font-style: normal;
		}
}

