$brand-color: #F92672;
$bg-color: #fff;
$primary-color: #E6D874;
$main-text: #272822;
$icon-color: #75715E;
$background-color: #F5F5F5;

$text-size: 32px;
$gap: 80px;

$brand-color-dt: #F92672;
$bg-color-dt: #222629;
$primary-color-dt: #E6D874;
$main-text-dt: #272822;
$icon-color-dt: #75715E;